<html>
<head>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
</head>

<body>
    <a href="javascript://" onclick="Sijax.request('say_hello', ['John', 'Greg']);">
        Say hello from John to Greg!
    </a>
    <br />
    <a href="javascript://" onclick="Sijax.request('say_goodbye');">
        Say goodbye!
    </a>
</body>
</html>
